@require './base'

.post-view
  margin 0 20px 50px
  a:hover
    border-bottom 1px dashed linkColor

.post-title
  line-height: 1em;
  margin-bottom 50px
  text-align left
  font-size 1.2em
  margin-top 10%
  letter-spacing 0.1rem
  font-weight 700

article
  p
    color #868e96
    font-size 16px
    word-break break-word
    margin 10px 0
    line-height: 2em;

.comments
  padding 0
  pre
    padding 0

// when smaller than tablet
@media (max-width: 767px)
  .post-title
    font-size 16px

  h3
    font-size 16px

.post-date
  float right
  font-size fontSize - 2
  line-height 2
  color metaColor

pre
  background codeBgColor !important
  padding 16px
  overflow-x auto
  white-space pre
  font-size: 0.8em;
  line-height: 12px;

blockquote
  margin 0
  padding 0 16px
  border-left 4px solid #ddd
